AWS_REGION=your-aws-region

AWS_COGNITO_USER_POOL_ID=provided_by_admin
AWS_COGNITO_CLIENT_ID=provided_by_admin

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

FIREBASE_PROJECT_ID=provided_by_admin
FIREBASE_CLIENT_EMAIL=from_service_account
FIREBASE_PRIVATE_KEY=from_service_account

AZURE_TENANT_ID=provided_by_admin
AZURE_CLIENT_ID=provided_by_admin
AZURE_CLIENT_SECRET=provided_by_admin
AZURE_POLICY_SIGNUP_SIGNIN=provided_by_admin

PORT=3000